<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing organizacion benefica</h1>

  <%= render "form", organizacion_benefica: @organizacion_benefica %>

  <%= link_to "Show this organizacion benefica", @organizacion_benefica, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to organizacion beneficas", organizacion_beneficas_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
