<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing responsable</h1>

  <%= render "form", responsable: @responsable %>

  <%= link_to "Show this responsable", @responsable, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to responsables", responsables_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
